using './main.bicep'

param environmentName = '#nameofsolution'
param location = 'swedencentral'
param vnetEnabled = true
param apiServiceName = '#functionappname#'
param apiUserAssignedIdentityName = '#userassignedidentityname#'
//Not used right now, can leave blank
param applicationInsightsName = ''
param appServicePlanName = '#appserviceplanname#'
//Not used right now, can leave blank
param logAnalyticsName = ''
param storageAccountName = '#storageaccountname#'
// param principalId = deployer().objectId
//This subnet must exist and be delegated to Microsoft.App/Environments
param appSubnetResourceId = '/subscriptions/#subid#/resourceGroups/#rgname#/providers/Microsoft.Network/virtualNetworks/#vnetname#/subnets/#subnetname#'
//Subnet for Private endpoint connections
param peSubnetResourceId =  '/subscriptions/#subid#/resourceGroups/#rgname#/providers/Microsoft.Network/virtualNetworks/#vnetname#/subnets/#subnetname#'
